rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isEmailVerified() {
      return isSignedIn() && request.auth.token.email_verified == true;
    }

    function hasUserData() {
      return request.auth.token.platformRole != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isSuperAdmin() {
      return isSignedIn()
        && request.auth.token.isSuperAdmin == true
        && request.auth.token.platformRole == 'super_admin'
        && hasUserData()
        && getUserData().status == 'active';
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read: if isSignedIn() && request.auth.uid == userId || isSuperAdmin();
      allow update: if isSignedIn() && request.auth.uid == userId
                    && request.resource.data.diff(resource.data).affectedKeys()
                    .hasOnly(['name', 'displayName']);
    }

    match /organizations/{orgId} {
      allow read: if isSuperAdmin() || (isSignedIn() && orgId in getUserData().organizations);
    }

    match /organizationMembers/{memberId} {
      allow read: if isSuperAdmin() || (isSignedIn() && request.auth.uid == resource.data.userId);
    }

    match /organizationInvites/{inviteId} {
       allow read: if isSuperAdmin();
    }

    match /auditLogs/{logId} {
       allow read: if isSuperAdmin();
    }
  }
}
